
/* Geral */
* {
    margin: 0;
    padding: 0;
    color: white;
}
body {
    background-color: #000000bd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Início, parte que o usuário cadastra o nome*/

div#get-name {
    z-index: 1;
    position: absolute;
    align-self: center;
    display: flex;
    width: 500px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.856);
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
form#form-name {
    background-color: #1d2127;
    width: 70%;
    border: 1px solid #f1c40f;
    height: 40%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form#form-name h2 {
    order: 1;
    font-size: 20px;
    font-family: 'Times New Roman';
    text-align: center;
    margin-bottom: 15px;
}
form#form-name input[type="text"] {
    order: 2;
    width: 50%;
    height: 15%;
    margin: 0px auto 0px auto;
    border-radius: 20px;
    border: 1px solid #3498db;
    background-color: black;
    padding: 5px 15px 5px 15px;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
}
form#form-name input[type="text"]:focus {
    border: 1px solid #2ecc71;
    outline: none;
    width: 60%;
}
form#form-name span#name-error {
    order: 3;
    text-align: center;
    margin-top: 5px;
    color: red;
}
form#form-name input[type="submit"] {
    order: 4;
    width: 40%;
    height: 20%;
    margin: 10px auto 10px auto; 
    background-color: rgba(0, 0, 0, 0.733);
    border: 1px solid #2ecc71;
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
    font-size: 15px;
}
form#form-name input[type="submit"]:hover {
    border: 1px solid #218d0b;
    background-color: #0d8840;
    cursor: pointer;
}

/* Container onde as mensagens vão */

div#chat-container {
    display: flex;
    border: 1px solid #8e44ad;
    width: 500px;
    height: 600px;
    background-color: rgb(34, 29, 29);
    flex-direction: column;
    margin-top: 10px;
}
div#message-container {
    display: flex;
    flex-flow: column nowrap;
    order: 1;
    justify-content: flex-end;
    height: 85%;
    padding: 10px;
    overflow: hidden;
}
div#message-container > * {
    flex-wrap: wrap;
    word-break: break-all;
}

/* Formulário do container */

form#send-form {
    order: 2;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #8e44ad;
    height: 10%;
    justify-content: center;
    position: relative;
    
}
form#send-form input[type="text"] {
    order: 1;
    width: 60%;
    height: 50%;
    margin: 10px 0px 0px auto;
    border-radius: 10px;
    border: 1px solid #e67e22;
    background-color: #2b2e30;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
    transition: 1s;
    
}
form#send-form input[type="text"]::placeholder {
    text-align: center;
}
form#send-form input[type="text"]:focus {
    border: 1px solid #d35400;
    outline: none;
    background-color: rgb(32, 29, 29);
}
form#send-form input[type="submit"] {
    order: 2;
    width: 15%;
    height: 70%;
    margin: 10px auto 10px 10px; 
    background-color: #2b2e30;
    border: 1px solid #e67e22;
    border-radius: 10px;
    outline: none;
    transition: 0.5s;
}
form#send-form input[type="submit"]:hover {
    background-color: #e67e22;
    border: 1px solid #d35400;
    cursor: pointer;
}

/* Recursos adicionais */

span#typing {
    order: 3;
    height: 5%;
    margin-left: 9%;
}

.popup {
    position: absolute;
    z-index: 1;
    background-color: #c0392b;
    border-radius: 25px;
    padding: 10px;
    visibility: hidden;
    bottom: 95%;
    left: 8%;
}
.popup::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #c0392b transparent transparent transparent;
    margin-left: -90%;
    margin-top: 10%;

}
.popupvisible {
    visibility: visible;
}